.loginContainer {
  /* border: 2px solid black; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputComp {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.inputComp > label {
  margin-right: 5px;
}

.loginSubmitBtn {
  display: flex;
  justify-content: center;
}

.heading {
  display: flex;
  justify-content: center;
}

.loginRegister {
  font-size: 14px;
}

.homeContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding-top: 60px;
}

h3,
p {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 12px;
  margin-bottom: 2px;
}

.homeContainer > div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* border-radius: 10px; */
}

.image:hover {
  cursor: pointer;
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cont {
}

.image {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.singleProduct {
  position: relative;
  padding: 10px;
}

.mainContent {
  position: fixed;
  top: 20px;
  /* left: 70px; */
  /* border: 2px solid red; */
  padding: 10px;
  z-index: 1;
  /* height: 90vh;
  width: 190vh; */
  background-color: rgb(255, 255, 255);
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.singleImages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.singleProductImages {
  width: 50%;
  height: 100px;
}

.singleImages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btnContainer {
  position: absolute;
  top: 0;
  right: 0;

}

.cont {
  /* padding-top: 20px; */
  /* cursor: pointer; */
}

.viewAndAddtocartBtnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.content > div:nth-child(3) {
  margin-top: 10px;
  align-items: flex-end;
}

.navbar {
  height: 30px;
  position: fixed;
  z-index: 1;
  padding: 10px;
  width: 100%;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.link {
  text-decoration: none;
}

.profile {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  background: #b8cfea;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 20px;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
}

.dropDown{
  /* border: 2px solid red; */
  position: absolute;
  right: 20px;
  background: #b8cfea;
  /* border: 1px solid rgb(239, 81, 81); */
  border: 1px solid black;
  /* border-bottom: none; */
  padding: 0px;
  margin: 0px;
}

.dropDown > p {
  padding: 5px;
  /* border-bottom: 1px solid black; */
}


.dropDown > p:hover{
  background: #e2ecf7;
  cursor: pointer;
}


/* Cart Page CSS */

.cartItemContent{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  gap: 20px;
}

.billingDetails{
  width: 30%;
  margin-left: 50px;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.billingDetails > div {
  padding: 10px;
}


.quantityContainer{
  display: flex;
}


.cartItemContainer{
  display: flex;
}

h5{
  padding: 0px;
  margin: 0px;
}

.cartTitle{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}


.increaseQuantityBtn{
  background-color: rgb(21, 127, 21);
  border: none;
  border-radius: 5px;
}



.increaseQuantityBtn:hover{
  background-color: rgb(85, 183, 85);
}

.decreaseQuantityBtn{
  background-color: rgb(219, 42, 42);
  border: none;
  border-radius: 5px;
}

.decreaseQuantityBtn:hover{
  background-color: rgb(231, 92, 92);
  border: none;
}


.checkoutBtn{
  padding: 5px;
  background-color: #FFA500;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.checkoutBtn:hover{
  background-color: #fbc663;
  color: black;
}